/* RESET */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    /* The width of an element will be the size of its border box,
       not its content box (which is the normal default). */
    box-sizing: border-box;
}

ul, ol {
    list-style-position: inside;
}

/*Mobile View*/
header, footer {
    padding: 0.5em;
}

main, aside {
    padding: 1em 0.5em;
}

main li {
    margin-bottom: 0.5em;
}

img {
    width: 100%;
}

#logo {
    width: auto;
    /* Ask Chris */
}

header {
    text-align: center;
    /* Ask Chris */
}

form>div {
    margin-bottom: 1.5em;
}

.advert {
    padding: 1rem;
}

/* MAIN MENU */
#main-menu ul {
    list-style-type: none;
    white-space: nowrap;
}

#main-menu a {
    text-decoration: none;
    display: block;
    padding: 0.5em 2em;
}

#main-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 10;
    overflow: hidden;
    padding-top: 2.75em;
    transition: 0.5s;
}

#main-menu ul {
    white-space: nowrap;
}

#main-menu li {
    line-height: 1.2;
    border-bottom: 1px solid #fff;
}

#main-menu a {
    display: block;
    padding: 0.5em 0.5em 0.5em 2em;
    font-size: 1.25em;
    color: #000;
}

#menu-button, #close-button {
    cursor: pointer;
    line-height: 1;
}

#menu-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.8rem;
}

#close-button {
    position: absolute;
    top: 0;
    right: 0.3rem;
    font-size: 2.5rem;
    padding: 0;
}

/* TYPOGRAPHY */
body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    line-height: 1.5;
}

h1, h2, p {
    margin-bottom: 1em;
}

#site-title {
    margin-bottom: 0;
}

#site-title, h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
    padding: 0 1rem;
}

.title {
    padding: 0rem;
    border-bottom: 0.1rem solid black;
}

footer {
    text-align: center;
}

/* COLOUR SCHEME */
body {
    background-color: #F1F1EF;
}

header {
    background-color: #5DAA68;
    color: #FAF1CF;
    text-shadow: 3px 3px black
}

#main-menu {
    background-color: #3F6844;
}

#main-menu a, #close-button {
    color: #fff;
}

#main-menu li.current {
    background-color: #0d4420;
}

#main-menu li:hover {
    background-color: #FAB162;
}

footer {
    background-color: #3F6844;
    color: #fff;
}

/*Form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
}

/*Video*/
video {
    width: 100%;
    height: auto;
    padding: 0rem 1rem;
}

#para-activities {
    padding: 0 1rem;
}

.flex-prev, .flex-next {
    line-height: normal;
}

#profile>p {
    padding: 1em 1em;
}


#profile>div {
    padding: 0 1em;
}

.lessons, .form{
    padding: 1em 1em;
}



/* RESPONSIVENESS */
@media screen and (min-width: 60rem) {

    header {
        display: grid;
        grid-template-columns: 1fr 4fr
    }

    h1 {
        padding: 1.5rem 8rem 0 0;
    }

    body {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
    }

    header {
        grid-column: 2 / 3;
    }

    #main-menu {
        grid-column: 2 / 3;
    }

    main {
        grid-column: 2/3;
    }

    footer {
        grid-column: 2 / 3;
    }

    #para-activities {
        padding: 0 1rem;
    }

    /* MAIN MENU */
    #main-menu ul {
        display: flex;
        justify-content: center;
    }

    /* Override Mobile Menu */
    #main-menu {
        position: static;
        width: 100% !important;
        max-width: 100%;
        height: auto;
        transition: none;
        padding-top: 0;
    }

    #main-menu li {
        border: 0;
    }

    #main-menu a {
        font-size: 1em;
        padding: 5px 7px;
    }

    #menu-button, #close-button {
        display: none;
    }

    .container-cards {
        display: flex;
    }

    .advert {
        width: 100%;
        margin: 0.5rem;
        padding: 0.2em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    img {
        width: 100%;
    }

    #logo {
        width: auto;
        /* Ask Chris */
    }

    section>p {
        padding: 0em 0.5em;
    }

    form>div {
        margin-bottom: 1.5em;
    }

    /* TYPOGRAPHY */
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

/*
    #profile {
        display: flex;
    }

    #profile>div, #profile>p {
        flex: 1;
        margin: 1rem;
        padding: 0em 1em;
    }
*/


    h2, footer, h3 {
        text-align: center;
    }

    /*Forms*/
    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    /*Video*/
    video {
        width: 100%;
        height: auto;
        padding: 0 0 0.5rem 0;
    }

    .flex-prev, .flex-next {
        line-height: normal;
    }

    /*dropdown*/

}
